img {
  max-width: 300px;

  @media (max-width: 640px) {
    max-width: 200px;
  }
}

.movie-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 18px;
}

.edit {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-right: 8px;
}

.delete-btn {
  margin-top: 15px;
  background: linear-gradient(to right, #eb3349, #f45c43);
  width: 100px;
  height: 30px;
  color: white;
  font-size: 18px;
  border: 0;
  box-shadow: 2px 2px 0px black;
  border-radius: 8px;
  transition: 1 ease-in;
  &:hover {
    border-radius: 0px;
    transform: translateY(-1px);
  }
}
