form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

input {
  width: 90%;
  margin: 20px 0px;
  border: 0;
  font-size: 18px;
  padding: 5px;
  box-shadow: 2px 2px 0 #e94057;
}

button {
  background: linear-gradient(to right, #f12711, #f5af19);
  color: white;
  width: 100px;
  height: 30px;
  box-shadow: 2px 2px 0 #e94057;
  border: 0;
  font-size: 18px;
  border-radius: 8px;
  transition: 1 ease-in;

  &:hover {
    border-radius: 0px;
    transform: translateY(-1px);
  }
}
